@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200;12..96,300;12..96,400;12..96,500;12..96,600;12..96,700&display=swap&family=Yanone+Kaffeesatz:wght@200;300;400;500;600;700&display=swap');

#root {
  width: 100%;
  margin: 0;
}

:root{
  --first-color: #0116CE;
  --text-color: #1e1e1e;
  --body-color: #FBFAF5;
  --second-color: #DEBB00;

  --body-font: 'Bricolage Grotesque', sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #fbfaf5;
}

::-webkit-scrollbar-thumb {
  background-color: #0116CE;
  border-radius: 5px;
}

html {
  scroll-behavior: smooth;
}

*{
  background-color: #FFFFFC;
  font-family: var(--body-font);
}